{% extends 'main.html' %}



{% block content %}
<header>


    <div class="welcome img-fluid">
        <div class="welcome-text">
            <h1>"YOU</h1>
            <h1>GOT</h1>
            <h1>THIS"</h1>
        </div>
    </div>


</header>
<br><br>
<section>

    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-12 col-lg-4">
                <div class="card" style="width: 18rem; height: fit-content;">
                    <img class="card-img-top" src="{{url_for('static',filename='photos/create.jpeg')}}"
                        alt="Card image cap" style="height: 16vh;">
                    <div class="card-body">
                        <p class="card-text">
                        <h3>Create Blogs of Your own</h3>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 col-lg-4">
                <div class="card" style="width: 18rem; height: fit-content;">
                    <img class="card-img-top" src="{{url_for('static',filename='photos/view.jpeg')}}"
                        alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">
                        <h3>View other writer's Blogs</h3>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 col-lg-4">
                <div class="card" style="width: 18rem; height:fit-content ;">
                    <img class="card-img-top" src="{{url_for('static',filename='photos/feedback.jpeg')}}"
                        alt="Card image cap" style="height: 16vh;">
                    <div class="card-body">
                        <p class="card-text">
                        <h3>Give feedback or Comment to blogs</h3>
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div><br><br><br>



</section>

<articles>

    <div class="container">
        <button type="button" class="btn btn-lg btn-block btn-outline-secondary">Recently Featured Blogs</button>
        <br><br><br>
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header article-header">
                        Featured
                    </div>
                    <div class="card-body article-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.
                        </p>
                        <a href="#" class="comment btn btn-outline-info">comment</a>
                    </div>
                </div>
            </div>
        </div><br><br><br><br>
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header article-header">
                        Featured
                    </div>
                    <div class="card-body article-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.
                        </p>
                        <a href="#" class="comment btn btn-outline-info">comment</a>
                    </div>
                </div>
            </div>
        </div><br><br><br><br>
    </div>





</articles>


<footer class="page-footer font-small cyan darken-3 app-footer">



    <div class="footer-copyright text-center py-3">© 2020 Copyright:
        hamisicodes
    </div>


</footer>

{% endblock %}

</body>

</html>